.container-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container-wrap form {
  text-align: center;
}

.container-wrap h2 {
  color: #ffffff;
}

.container-wrap label {
  color: #ffffff;
  font-size: 14px;
  text-align: left;
}

.container-wrap input {
  padding: 8px;
  color: #000000;
}

.container-wrap button {
  font-size: 16px;
  padding: 10px;
  width: 146px;
  color: #ffffff;
  background: rgba(1,1,255,0.5);
  margin-top: 12px;
}

.container-wrap button:hover {
  color: #ffffff;
  background: rgba(1,1,255,0.66);
}

.form-wrapper {
  max-width: 520px;
  margin: 0 auto;
}

.card-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 0;
}
