h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  font-family: "Jost", sans-serif;
  font-size: 48px;
}
h2 {
  font-family: "Jost", sans-serif;
  font-size: 36px;
}

h3 {
  font-family: "Jost", sans-serif;
  font-size: 24px;
}

h4 {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Jost", sans-serif;
  font-weight: 400;
}

.divider {
  margin-top: 80px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.p-24 {
  padding: 24px 0px;
}

#team {
  background-color: #f6f6f6;
}

.green {
  color: #73b052;
}

.green-bg {
  background-color: #73b052;
  color: #e5e5e5;
}
.between {
  justify-content: space-between;
}

.pin {
  padding: 4px 16px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.pointer {
  cursor: pointer;
}

.card {
  width: 300px;
  min-height: 100px;
  border: 2px solid #e5e5e5;
  border-radius: 8px;
  padding: 24px;
  flex-grow: 1;
}

.rounded {
  border-radius: 50%;
}


@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}
