h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-family: 'Jost', sans-serif;
  font-size: 48px;
}
h2 {
  font-family: 'Jost', sans-serif;
  font-size: 36px;
}

h3 {
  font-family: 'Jost', sans-serif;
  font-size: 24px;
}

h4 {
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.divider {
  margin-top: 80px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 24px 0px;
  justify-content: space-between;
}

#team {

  background-color: #f6f6f6;

}


@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}
